* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #fffafc;
  color: #333;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}

.logo {
  color: #e75480;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

.btn {
  padding: 10px 20px;
  background: #e75480;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: #fff0f5;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #e75480;
}

.hero p {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
  color: #666;
}

/* FLOWERS */
.section {
  padding: 60px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card h3 {
  margin-top: 15px;
  color: #e75480;
}

/* FOOTER */
footer {
  background: #ffe4ec;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: #666;
}
